.login-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.login-bg{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    /* transform: scale(0); */
    transition: height 0.2s ease;
}


.wrapper.active{
    height: 720px;
}


.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform 0.2s ease;
    transform: translateX(0);
    width: 100%;
    padding: 40px;
}

.wrapper.active .form-box.login{
    transition: transform 0.2s;
    transform: translateX(-460px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: transform 0.2s;
    transform: translateX(500px);
    width: 100%;
    padding: 40px;
}

.wrapper.active .form-box.register{
    transition: transform 0.2s ease;
    transform: translateX(0);
}


.form-box h2{
    font-weight: 400;
    text-align: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 40px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.btn-cancel{
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: gray;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p{
    font-weight: 400;
    text-decoration: none;
}

.login-register a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
