.section {
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.search {
    margin-bottom: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 0.5px solid gray;
}

.simple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;


}

.grid-img img {
    display: block;
    width: 100%;
}

.product-post {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-post-bg {
    background-color: rgba(0, 0, 0, 0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-post-content {
    position: relative;
    max-width: 1200px;
    background-color: black;
}

.product-post-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;
}

.product-post-content h4 {
    color: white;
    text-align: center;
}